<svg xmlns:svg="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" width="900" viewBox="0,0,1476.5,1925.137">
    <style type="text/css">
    .border {
        stroke: #000000;
        fill: none;
        stroke-width: 5;
    }
    .seat {
        stroke: #999999;
        fill: #ffffff;
        stroke-width: 3;
    }
    .undeclared {} .conservative {
        fill: #333399;
    }
    .labour {
        fill: #CC0000;
    }
    .liberaldemocrat {
        fill: #FF9900;
    }
    .greenparty {
        fill: #339900;
    }
    .plaidcymru {
        fill: #006600;
    }
    .scottishnationalparty {
        fill: #FFCC00;
    }
    .democraticunionistparty {
        fill: #CC3300;
    }
    .sinnfein {
        fill: #003300;
    }
    .socialdemocraticandlabourparty {
        fill: #669966;
    }
    .alliancepartyofnorthernireland {
        fill: #FFCC01;
    }
    .independent {
        fill: #BBBBBB;
    }
    .thespeaker {
        fill: #999999;
    }
    </style>
    <g id="borders">
        <path id="scotland-b" class="border" d="M 659,541.124 684,541.124 696.5,519.473 721.5,519.473 734,497.822 721.5,476.171 734,454.52" />
        <path id="wales-b" class="border" d="M 546.5,1515.419 571.5,1515.419 584,1493.768 571.5,1472.117 584,1450.466 609,1450.466 621.5,1428.815 609,1407.164 621.5,1385.513 609,1363.862 621.5,1342.211 609,1320.56 584,1320.56 571.5,1298.909 584,1277.258 571.5,1255.607 584,1233.956 571.5,1212.305 584,1190.654 571.5,1169.003 584,1147.352 571.5,1125.701 584,1104.05 571.5,1082.399 584,1060.748 571.5,1039.097 546.5,1039.097 534,1017.446 509,1017.446 496.5,1039.097" />
        <path id="london-b" class="border" d="M 1021.5,1298.909 1034,1320.56 1059,1320.56 1071.5,1342.211 1096.5,1342.211 1109,1363.862 1134,1363.862 1146.5,1385.513 1171.5,1385.513 1184,1407.164 1209,1407.164 1221.5,1428.815 1246.5,1428.815 1259,1450.466 1284,1450.466 1296.5,1472.117 1284,1493.768 1296.5,1515.419 1284,1537.07 1259,1537.07 1246.5,1558.721 1221.5,1558.721 1209,1580.372 1184,1580.372 1171.5,1602.023 1146.5,1602.023 1134,1623.674 1109,1623.674 1096.5,1645.325 1071.5,1645.325 1059,1666.976 1034,1666.976 1021.5,1688.627 996.5,1688.627 984,1666.976 959,1666.976 946.5,1645.325 921.5,1645.325 909,1623.674 884,1623.674 871.5,1645.325 846.5,1645.325 834,1623.674 846.5,1602.023 834,1580.372 846.5,1558.721 834,1537.07 809,1537.07 796.5,1515.419 809,1493.768 796.5,1472.117 809,1450.466 834,1450.466 846.5,1428.815 834,1407.164 846.5,1385.513 871.5,1385.513 884,1363.862 909,1363.862 921.5,1342.211 946.5,1342.211 959,1320.56 984,1320.56 996.5,1298.909 1021.5,1298.909" />
        <path id="south-west-b" class="border" d="M 646.5,1775.231 659,1753.58 646.5,1731.929 659,1710.278 646.5,1688.627 659,1666.976 646.5,1645.325 659,1623.674 646.5,1602.023 659,1580.372 646.5,1558.721 659,1537.07 684,1537.07 696.5,1515.419 684,1493.768 696.5,1472.117 684,1450.466 696.5,1428.815 684,1407.164 659,1407.164 646.5,1428.815 621.5,1428.815 609,1450.466 584,1450.466 571.5,1472.117 584,1493.768 571.5,1515.419 546.5,1515.419" />
        <path id="south-east-b" class="border" d="M 646.5,1775.231 659,1753.58 646.5,1731.929 659,1710.278 646.5,1688.627 659,1666.976 646.5,1645.325 659,1623.674 646.5,1602.023 659,1580.372 646.5,1558.721 659,1537.07 684,1537.07 696.5,1515.419 684,1493.768 696.5,1472.117 684,1450.466 696.5,1428.815 684,1407.164 696.5,1385.513 721.5,1385.513 734,1363.862 759,1363.862 771.5,1342.211 796.5,1342.211 809,1363.862 796.5,1385.513 809,1407.164 834,1407.164 846.5,1428.815 834,1450.466 809,1450.466 796.5,1472.117 809,1493.768 796.5,1515.419 809,1537.07 834,1537.07 846.5,1558.721 834,1580.372 846.5,1602.023 834,1623.674 846.5,1645.325 871.5,1645.325 884,1623.674 909,1623.674 921.5,1645.325 946.5,1645.325 959,1666.976 984,1666.976 996.5,1688.627 1021.5,1688.627 1034,1666.976 1059,1666.976 1071.5,1645.325 1096.5,1645.325 1109,1623.674 1134,1623.674 1146.5,1602.023 1171.5,1602.023 1184,1580.372 1209,1580.372 1221.5,1558.721 1246.5,1558.721 1259,1537.07 1284,1537.07 1296.5,1515.419 1321.5,1515.419" />
        <path id="east-england-b" class="border" d="M 1146.5,1169.003 1134,1190.654 1109,1190.654 1096.5,1212.305 1071.5,1212.305 1059,1190.654 1034,1190.654 1021.5,1169.003 996.5,1169.003 984,1190.654 959,1190.654 946.5,1212.305 921.5,1212.305 909,1233.956 884,1233.956 871.5,1255.607 846.5,1255.607 834,1277.258 846.5,1298.909 834,1320.56 809,1320.56 796.5,1342.211 809,1363.862 796.5,1385.513 809,1407.164 834,1407.164 846.5,1385.513 871.5,1385.513 884,1363.862 909,1363.862 921.5,1342.211 946.5,1342.211 959,1320.56 984,1320.56 996.5,1298.909 1021.5,1298.909 1034,1320.56 1059,1320.56 1071.5,1342.211 1096.5,1342.211 1109,1363.862 1134,1363.862 1146.5,1385.513 1171.5,1385.513 1184,1407.164 1209,1407.164 1221.5,1428.815 1246.5,1428.815 1259,1450.466 1284,1450.466 1296.5,1472.117 1284,1493.768 1296.5,1515.419 1321.5,1515.419" />
        <path id="west-midlands-b" class="border" d="M 571.5,1039.097 584,1017.446 609,1017.446 621.5,995.795 646.5,995.795 659,974.144 684,974.144 696.5,952.493 721.5,952.493 734,974.144 759,974.144 771.5,952.493 796.5,952.493 809,974.144 834,974.144 846.5,995.795 834,1017.446 846.5,1039.097 834,1060.748 846.5,1082.399 834,1104.05 846.5,1125.701 834,1147.352 846.5,1169.003 834,1190.654 809,1190.654 796.5,1212.305 809,1233.956 796.5,1255.607 809,1277.258 796.5,1298.909 771.5,1298.909 759,1320.56 771.5,1342.211 759,1363.862 734,1363.862 721.5,1385.513 696.5,1385.513 684,1407.164 659,1407.164 646.5,1428.815 621.5,1428.815 609,1407.164 621.5,1385.513 609,1363.862 621.5,1342.211 609,1320.56 584,1320.56 571.5,1298.909 584,1277.258 571.5,1255.607 584,1233.956 571.5,1212.305 584,1190.654 571.5,1169.003 584,1147.352 571.5,1125.701 584,1104.05 571.5,1082.399 584,1060.748 571.5,1039.097" />
        <path id="east-midlands-b" class="border" d="M 1134,1017.446 1109,1017.446 1096.5,995.795 1071.5,995.795 1059,974.144 1034,974.144 1021.5,952.493 996.5,952.493 984,974.144 959,974.144 946.5,995.795 921.5,995.795 909,974.144 884,974.144 871.5,952.493 846.5,952.493 834,974.144 846.5,995.795 834,1017.446 846.5,1039.097 834,1060.748 846.5,1082.399 834,1104.05 846.5,1125.701 834,1147.352 846.5,1169.003 834,1190.654 809,1190.654 796.5,1212.305 809,1233.956 796.5,1255.607 809,1277.258 796.5,1298.909 771.5,1298.909 759,1320.56 771.5,1342.211 796.5,1342.211 809,1320.56 834,1320.56 846.5,1298.909 834,1277.258 846.5,1255.607 871.5,1255.607 884,1233.956 909,1233.956 921.5,1212.305 946.5,1212.305 959,1190.654 984,1190.654 996.5,1169.003 1021.5,1169.003 1034,1190.654 1059,1190.654 1071.5,1212.305 1096.5,1212.305 1109,1190.654 1134,1190.654 1146.5,1169.003" />
        <path id="north-west-b" class="border" d="M 496.5,1039.097 509,1017.446 534,1017.446 546.5,1039.097 571.5,1039.097 584,1017.446 609,1017.446 621.5,995.795 646.5,995.795 659,974.144 684,974.144 696.5,952.493 721.5,952.493 734,974.144 759,974.144 771.5,952.493 796.5,952.493 809,974.144 834,974.144 846.5,952.493 834,930.842 846.5,909.191 834,887.54 846.5,865.889 834,844.238 846.5,822.587 834,800.936 846.5,779.285 834,757.634 846.5,735.983 834,714.332 846.5,692.681 834,671.03 846.5,649.379 834,627.728 809,627.728 796.5,606.077 771.5,606.077 759,584.426 734,584.426 721.5,562.775 734,541.124 721.5,519.473 696.5,519.473 684,541.124 659,541.124" />
        <path id="north-east-b" class="border" d="M 734,454.52 721.5,476.171 734,497.822 721.5,519.473 734,541.124 721.5,562.775 734,584.426 759,584.426 771.5,606.077 796.5,606.077 809,627.728 834,627.728 846.5,649.379 871.5,649.379 884,627.728 909,627.728 921.5,649.379 946.5,649.379 959,671.03 984,671.03 996.5,649.379 1021.5,649.379" />
        <path id="yorkshire-humber-b" class="border" d="M 1021.5,649.379 996.5,649.379 984,671.03 959,671.03 946.5,649.379 921.5,649.379 909,627.728 884,627.728 871.5,649.379 846.5,649.379 834,671.03 846.5,692.681 834,714.332 846.5,735.983 834,757.634 846.5,779.285 834,800.936 846.5,822.587 834,844.238 846.5,865.889 834,887.54 846.5,909.191 834,930.842 846.5,952.493 871.5,952.493 884,974.144 909,974.144 921.5,995.795 946.5,995.795 959,974.144 984,974.144 996.5,952.493 1021.5,952.493 1034,974.144 1059,974.144 1071.5,995.795 1096.5,995.795 1109,1017.446 1134,1017.446" />
    </g>
    </g>
</svg>
